*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none; 
  border: 0;
  outline: 0;
}
body {
  min-height: 100vh;
  font-family: 'Open Sans';
}
#root {
  height: 100vh;
}
.app {
  display: flex;
  height: 100vh;
}
.header {
  flex-basis: 40%;
  border-right: 2px solid #6a737b2d;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column; 
  row-gap: 20px;
  .logo-title {
    display: flex;
    align-items: center; 
    justify-content: center;
    column-gap: 10px;
    margin-left: -40px;
    .logo {
      width: 50px;
    }
    .title {
      .first {
        font-weight: normal;
      }
      .second {

      }
    }
    
  }
  .desc {
    color: rgba(0,0,0, 0.6);
    margin-top: 20px;

  }
  .header-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: bold;
    a {

    }
  }


}
.mainarea {
  flex-basis: 60%;
}
.toolbar {
  border-bottom: 2px solid #6a737b2d;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999;
}
.content {
  height: 100vh;
  position: absolute;
  top: 60px;
  width: 100%;
}